@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
/* <--- publishing part -----> */



.left{
border: 1px solid rgb(232, 232, 232);
width: 230px;
margin-left: 1%;
margin-right: 4%;
padding-left: 3%;
height: 515px;
margin-top: 6%;
/* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
border-radius: 10px;
background-color: rgb(250, 250, 250);
/* margin-top: %; */
}

div>#box{
border: 0px solid rgb(9, 6, 159);
/* margin-top: 50px; */
padding: 10px;
margin-right: 5%;
background-color: rgb(201, 235, 246);
color: blue;
border-radius: 5px;
}

#btn{
width: 200px;
height: 40px;
margin-top: 75%;
/* padding: 20%; */
font-weight: bold;
color: black;
}

/* <--- calendar part ---> */
  button {
    /* width: 75px; */
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }

  #flex {
    display: flex;
    justify-content: space-between;
  }
  .post {
    background-color: rgb(12, 10, 130);
    padding:10px;
    /* color: black; */
    font-weight: bold;
  }
  
  #header {
    padding: 10px;
    font-weight: bold;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    /* justify-content: space-between; */
    /* color: aqua; */
    justify-content: flex-start;
   
  }
  #header button {
    background-color: rgb(12, 10, 130);
    font-weight: bold;
   
    

  }
  #container {
    width: 770px;
    margin-right: 17%;
    margin-top: 5%;
  }
  #weekdays {
    width: 100%;
    display: flex;
    color: #247BA0;
    font-weight: bold;
  }
  #weekdays div {
    width: 100px;
    padding: 10px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: 100px;
    padding: 10px;
    height: 80px;
    cursor: pointer;
    box-sizing: border-box;
   
    background-color: rgb(245, 245, 245);
    /* background: rgba(89, 98, 106, 0.2); */
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #abb5d8;
  }
  
  .day + #currentDay {
    background-color:#e8f4fa;
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: white !important;
    box-shadow: none !important;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }